@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

@layer utilities {
	.bg-light {
		background-color: #fafafe;
	}
	.bg-theme-1 {
		background-color: #f9a109;
	}
	.bg-theme-2 {
		background-color: #80485b;
	}
	.bg-theme-3 {
		background-color: #fff0de;
	}
	.bg-warning {
		background-color: #eb5757;
	}
	.bg-complete {
		background-color: #56ccf2;
	}
	.bg-ui {
		background-color: #bdbdbd;
	}
	.text-theme-1 {
		color: #f9a109;
	}
	.text-complete {
		color: #56ccf2;
	}
	.text-ui {
		color: #bdbdbd;
	}
	.text-ui-dark {
		color: #34333a;
	}
}

input[type='checkbox'] {
	background-color: #f9a109;
}